# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
indent_style = space

# CA1008: Enums should have zero value
dotnet_diagnostic.CA1008.severity = warning

# CA1012: Abstract types should not have constructors
dotnet_diagnostic.CA1012.severity = warning

# CA1014: Mark assemblies with CLSCompliant
dotnet_diagnostic.CA1014.severity = warning

# CA1017: Mark assemblies with ComVisible
dotnet_diagnostic.CA1017.severity = warning

# CA1021: Avoid out parameters
dotnet_diagnostic.CA1021.severity = warning

# CA1024: Use properties where appropriate
dotnet_diagnostic.CA1024.severity = warning

# CA1027: Mark enums with FlagsAttribute
dotnet_diagnostic.CA1027.severity = warning

# CA1033: Interface methods should be callable by child types
dotnet_diagnostic.CA1033.severity = warning

# CA1050: Declare types in namespaces
dotnet_diagnostic.CA1050.severity = warning

# CA1060: Move pinvokes to native methods class
dotnet_diagnostic.CA1060.severity = warning

# CA1309: Use ordinal stringcomparison
dotnet_diagnostic.CA1309.severity = warning

# CA1501: Avoid excessive inheritance
dotnet_diagnostic.CA1501.severity = warning

# CA1502: Avoid excessive complexity
dotnet_diagnostic.CA1502.severity = warning

# CA1505: Avoid unmaintainable code
dotnet_diagnostic.CA1505.severity = warning

# CA1506: Avoid excessive class coupling
dotnet_diagnostic.CA1506.severity = suggestion

# CA1508: Avoid dead conditional code
dotnet_diagnostic.CA1508.severity = warning

# CA1509: Invalid entry in code metrics rule specification file
dotnet_diagnostic.CA1509.severity = warning

# CA1708: Identifiers should differ by more than case
dotnet_diagnostic.CA1708.severity = warning

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = warning

# CA1725: Parameter names should match base declaration
dotnet_diagnostic.CA1725.severity = warning

# CA2217: Do not mark enums with FlagsAttribute
dotnet_diagnostic.CA2217.severity = warning

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none

# SA1001: Commas should be spaced correctly
dotnet_diagnostic.SA1001.severity = silent

# SA1005: Single line comments should begin with single space
dotnet_diagnostic.SA1005.severity = silent

# SA1009: Closing parenthesis should be spaced correctly
dotnet_diagnostic.SA1009.severity = silent

# SA1025: Code should not contain multiple whitespace in a row
dotnet_diagnostic.SA1025.severity = silent

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1111: Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1111.severity = silent

# SA1131: Use readable conditions
dotnet_diagnostic.SA1131.severity = silent

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = silent

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent

# SA1404: Code analysis suppression should have justification
dotnet_diagnostic.SA1404.severity = silent

# SA1503: Braces should not be omitted
dotnet_diagnostic.SA1503.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = silent

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = silent

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = suggestion

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = silent

# IDE0011: Add braces
csharp_prefer_braces = false:silent

# Xml files

[*.xml]
indent_size = 2

